/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

manifest {
  name = 'annotationMaker'
  description = 'Build Annotation files for research pipelines'
  homePage = 'https://gitlab.curie.fr/data-analysis/annotationMaker'
  author = 'Institut Curie - Bioinformatics core facility'
  version = '1.3.0dev'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.32.0'
}

/*
 * Global default params, used in configs
 */

params {
  help = false
  name = false
  indexes = 'all'
  fasta = null
  gtf = null
  gff = null
  build = false
  genome = false
  skipGtfProcessing = false
  starVersion = '2.7.6a'
  cellRangerPath = '/bioinfo/local/build/Centos/cellranger/cellranger-3.1.0/'

  // Output directories
  outDir = './results'
  summaryDir = "${params.outDir}/summary"
}

/*
 * Configs and profiles
 */

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

// Profiles

profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker { 
    includeConfig 'conf/docker.config'
  }
  singularity { 
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  test {
    includeConfig 'conf/test.config'
  }
}

// Load annotation
includeConfig 'conf/genomes.config'  
