conda { 
  cacheDir = "${params.condaCacheDir}" 
}

process {
  withLabel:unix { conda = "${baseDir}/environment.yml" }
  withLabel:samtools { conda = "${baseDir}/environment.yml" }
  withLabel:picard { conda = "${baseDir}/environment.yml" }
  withLabel:ucsctools { conda = "${baseDir}/environment.yml" }
  withLabel:bwamem { conda = "${baseDir}/environment.yml" }
  withLabel:bowtie2 { conda = "${baseDir}/environment.yml" } 
  withLabel:star { conda = "${baseDir}/environment.yml" } 
  withLabel:hisat2 { conda = "${baseDir}/environment.yml" }
  withLabel:bedtools { conda = "${baseDir}/environment.yml" }
  withLabel:gffread { conda = "${baseDir}/environment.yml" }
  withLabel:r { conda = "${baseDir}/environment.yml" }
}