docker {
  enabled = true
  runOptions = "${params.geniac.containers.dockerRunOptions}"
}

process {
  withLabel:unix { container = "unix" }
  withLabel:samtools { container = "samtools" }
  withLabel:picard { container = "picard" }
  withLabel:ucsctools { container = "ucsctools" }
  withLabel:bwa { container = "bwa" }
  withLabel:bowtie2 { container = "bowtie2" }
  withLabel:star { container = "star" }
  withLabel:hisat2 { container = "hisat2" }
  withLabel:kallisto { container = "kallisto" }
  withLabel:salmon { container = "salmon" }
  withLabel:bedtools { container = "bedtools" } 
  withLabel:gffread { container = "gffread" } 
  withLabel:r { container = "annotr" }
}
