params {
  genomeAnnotationPath = params.genomeAnnotationPath ?: "${baseDir}/../annotations"

  geniac {

    // Installation paths
    multiPath = params.globalPath ?: "${baseDir}/../multipath"
    path = params.globalPath ?: "${baseDir}/../path"
    singularityImagePath = params.singularityImagePath ?: "${baseDir}/../containers/singularity"

    tools {
      // Add your tools available in conda here, for example:
      unix = "${baseDir}/recipes/conda/unix.yml"
      samtools = "${baseDir}/recipes/conda/samtools.yml"
      picard = "${baseDir}/recipes/conda/picard.yml"
      ucsctools = "${baseDir}/recipes/conda/ucsctools.yml"
      bwamem = "${baseDir}/recipes/conda/bwamem.yml"
      bowtie2 = "${baseDir}/recipes/conda/bowtie2.yml"
      star = "${baseDir}/recipes/conda/star.yml"
      hisat2 = "${baseDir}/recipes/conda/hisat2.yml"
      bedtools = "${baseDir}/recipes/conda/bedtools.yml"
      gffread = "${baseDir}/recipes/conda/gffread.yml"
    }

    // options for singularity and docker containers
    containers {
      singularityRunOptions = ""
      dockerRunOptions = ""

      // containers are based on CentOS linux
      // some tools require dependcies to be installed with 'yum install'
      // specific dependencies are listed below
      yum {
        // example of dependency:
        fastqc = 'fontconfig dejavu*'
      }

      //git {
      // keep this as syntax example
      //some_tools = 'https://github.com/some_user/some_tools::commit_hash'
      //}
    }
  }
}
