params {
  genomeAnnotationPath = params.genomeAnnotationPath ?: "${projectDir}/../annotations"
  tmpDir = params.tmpDir ?: '/local/scratch/'
  outDir = params.outDir ?: './'

  geniac {

    // Installation paths
    path = params.globalPath ?: "${projectDir}/../path/bin"
    multiPath = params.globalPath ?: "${projectDir}/../multipath"
    singularityImagePath = params.singularityImagePath ?: "${projectDir}/../containers/singularity"

    tools {
      // Add your tools available in conda here, for example:
      unix = "${projectDir}/recipes/conda/unix.yml"
      samtools = "${projectDir}/recipes/conda/samtools.yml"
      picard = "${projectDir}/recipes/conda/picard.yml"
      ucsctools = "${projectDir}/recipes/conda/ucsctools.yml"
      bwa = "${projectDir}/recipes/conda/bwa.yml"
      bwamem2 = "${projectDir}/recipes/conda/bwamem2.yml"
      dragmap = "${projectDir}/recipes/conda/dragmap.yml"
      bowtie2 = "${projectDir}/recipes/conda/bowtie2.yml"
      star2_6_1b = "${projectDir}/recipes/conda/star-2.6.1b.yml"
      star2_7_6a = "${projectDir}/recipes/conda/star-2.7.6a.yml"
      star2_7_8a = "${projectDir}/recipes/conda/star-2.7.8a.yml"
      star2_7_10a = "${projectDir}/recipes/conda/star-2.7.10a.yml"
      hisat2 = "${projectDir}/recipes/conda/hisat2.yml"
      kallisto = "${projectDir}/recipes/conda/kallisto.yml"
      salmon = "${projectDir}/recipes/conda/salmon.yml"
      gffread = "${projectDir}/recipes/conda/gffread.yml"
      r = "${projectDir}/recipes/conda/r.yml"
      python = "${projectDir}/recipes/conda/python.yml"
    }

    // options for singularity and docker containers
    containers {
      singularityRunOptions = "--bind ${params.containers.specificBinds}"
      dockerRunOptions = "-v \"\$PWD\":/tmp"

      // containers are based on CentOS linux
      // some tools require dependcies to be installed with 'yum install'
      // specific dependencies are listed below
      //yum { }
      //git { }
    }
  }
}
