/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 */

params { 
  genomes {

    /******
     Human
     ******/
    'hg19' {
      fasta = "http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/chromFa.tar.gz"
      transcripts = "http://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_19/gencode.v19.pc_transcripts.fa.gz"
      gtf   = "http://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_19/gencode.v19.annotation.gtf.gz"
    }

    'hg38' {
      fasta = "http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/hg38.fa.gz"
      transcripts = "http://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_34/gencode.v34.transcripts.fa.gz"
      gtf   = "http://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_34/gencode.v34.annotation.gtf.gz"
    }

    /******
     Mouse
     ******/
    'mm39' {
      fasta = "http://hgdownload.cse.ucsc.edu/goldenPath/mm39/bigZips/mm39.chromFa.tar.gz"
      transcripts = "http://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M27/gencode.vM27.transcripts.fa.gz"
      gtf = "http://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M27/gencode.vM27.annotation.gtf.gz"
    }

    'mm10' {
      fasta = "http://hgdownload.cse.ucsc.edu/goldenPath/mm10/bigZips/chromFa.tar.gz"
      transcripts = "http://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M22/gencode.vM22.transcripts.fa.gz"
      gtf   = "http://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M22/gencode.vM22.annotation.gtf.gz"
    }

    'mm9' {
      fasta = "http://hgdownload.cse.ucsc.edu/goldenPath/mm9/bigZips/chromFa.tar.gz"
      transcripts = "http://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M1/gencode.vM1.pc_transcripts.fa.gz"
      gtf   = "http://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M1/gencode.vM1.annotation.gtf.gz"
    }

    /**********
     Zebrafish
     **********/
    'danRer10' {
       fasta = "http://hgdownload-test.cse.ucsc.edu/goldenPath/danRer10/bigZips/danRer10.fa.gz"
       gtf   = "http://hgdownload.soe.ucsc.edu/goldenPath/danRer10/bigZips/genes/danRer10.refGene.gtf.gz"
     }

    'danRer11' {
       fasta = "http://hgdownload-test.cse.ucsc.edu/goldenPath/danRer11/bigZips/danRer11.fa.gz"
       gtf   = "http://hgdownload.soe.ucsc.edu/goldenPath/danRer11/bigZips/genes/danRer11.refGene.gtf.gz"
     }

    /************************
      Ovis aries rambouillet
    *************************/
    'Oar_rambouillet_v1' {
      fasta = "ftp://ftp.ensembl.org/pub/release-101/fasta/ovis_aries_rambouillet/dna/Ovis_aries_rambouillet.Oar_rambouillet_v1.0.dna.toplevel.fa.gz"
      gtf   = "ftp://ftp.ensembl.org/pub/release-101/gtf/ovis_aries_rambouillet/Ovis_aries_rambouillet.Oar_rambouillet_v1.0.101.gtf.gz"
    }

    /*********************
     Arabidopsis thaliana
    **********************/
    'TAIR10' {
      fasta = "ftp://ftp.ensemblgenomes.org/pub/plants/release-48/fasta/arabidopsis_thaliana/dna/Arabidopsis_thaliana.TAIR10.dna.toplevel.fa.gz"
      gtf   = "ftp://ftp.ensemblgenomes.org/pub/plants/release-48/gtf/arabidopsis_thaliana/Arabidopsis_thaliana.TAIR10.48.gtf.gz"
    }

    /*************
     Bomby mori
    **************/
    'bmoriV3' {
      fasta = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3/genome/Bmori_v3.fasta"
      gtf   = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3/gtf/Bmori_v3.gff3"
    }

    'bmoriV3_base' {
      fasta = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/genome/Bmori_v3_base.fasta"
      gtf   = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/gtf/Bmori_v3_base.gff3"
    }

    'bmoriV4_base' {
      fasta = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV4_base/genome/Bmori_v4_base.fasta"
      gff   = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV4_base/gtf/Bmori_v4_no_sort.gff3"
    }

    /************************
     Drosophila melanogaster
    *************************/
    'dmelr6.28' {
       fasta = "ftp://ftp.ensembl.org/pub/release-101/fasta/drosophila_melanogaster/dna/Drosophila_melanogaster.BDGP6.28.dna.toplevel.fa.gz"
       gtf   = "ftp://ftp.ensembl.org/pub/release-101/gtf/drosophila_melanogaster/Drosophila_melanogaster.BDGP6.28.101.gtf.gz"
    }

    /******************
     Escherichia coli
    *******************/
    'LF82' {
      fasta = "ftp://ftp.ensemblgenomes.org/pub/release-47/bacteria/fasta/bacteria_5_collection/escherichia_coli_lf82/dna/Escherichia_coli_lf82.ASM28449v1.dna.toplevel.fa.gz"
      gtf   = "ftp://ftp.ensemblgenomes.org/pub/release-47/bacteria/gtf/bacteria_5_collection/escherichia_coli_lf82/Escherichia_coli_lf82.ASM28449v1.47.gtf.gz"
    }

    'MG1655' {
      fasta = "ftp://ftp.ensemblgenomes.org/pub/bacteria/release-48/fasta/bacteria_0_collection/escherichia_coli_str_k_12_substr_mg1655/dna/Escherichia_coli_str_k_12_substr_mg1655.ASM584v2.dna.toplevel.fa.gz"
      gtf = "ftp://ftp.ensemblgenomes.org/pub/bacteria/release-48/gtf/bacteria_0_collection/escherichia_coli_str_k_12_substr_mg1655/Escherichia_coli_str_k_12_substr_mg1655.ASM584v2.48.gtf.gz"
    }


    /***************************
     Mycobacterium tuberculosis
    ****************************/
    'Erdman-ASM35020v1' {
      fasta = "ftp://ftp.ensemblgenomes.org/pub/release-43/bacteria/fasta/bacteria_31_collection/mycobacterium_tuberculosis_str_erdman_atcc_35801/dna/Mycobacterium_tuberculosis_str_erdman_atcc_35801.ASM35020v1.dna.toplevel.fa.gz"
      gtf   = "ftp://ftp.ensemblgenomes.org/pub/release-41/bacteria/gtf/bacteria_31_collection/mycobacterium_tuberculosis_str_erdman_atcc_35801/Mycobacterium_tuberculosis_str_erdman_atcc_35801.ASM35020v1.41.gtf.gz"
    }

    /*************************
     Naumovozyma castellii
    *************************/
    'CBS4309-ASM23734v1' {
      fasta = "ftp://ftp.ensemblgenomes.org/pub/fungi/release-45/fasta/fungi_ascomycota1_collection/naumovozyma_castellii_cbs_4309_gca_000237345/dna/Naumovozyma_castellii_cbs_4309_gca_000237345.ASM23734v1.dna.toplevel.fa.gz"
      gtf   = "ftp://ftp.ensemblgenomes.org/pub/release-45/fungi/gtf/fungi_ascomycota1_collection/naumovozyma_castellii_cbs_4309_gca_000237345/Naumovozyma_castellii_cbs_4309_gca_000237345.ASM23734v1.45.gtf.gz"
    }

    /************************
     Plasmodium falciparum
    *************************/
    'Pfalciparum3D7' {
      fasta = "https://plasmodb.org/common/downloads/release-46/Pfalciparum3D7/fasta/data/PlasmoDB-46_Pfalciparum3D7_Genome.fasta"
      gtf   = "https://plasmodb.org/common/downloads/release-46/Pfalciparum3D7/gff/data/PlasmoDB-46_Pfalciparum3D7.gff"
    }

    /*************************
     Saccharomyces Cerevisae
     ************************/
    'S288c' {
       fasta = "ftp://ftp.ensemblgenomes.org/pub/release-40/fungi/fasta/saccharomyces_cerevisiae/dna/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa.gz"
       gtf   = "ftp://ftp.ensembl.org/pub/release-93/gtf/saccharomyces_cerevisiae/Saccharomyces_cerevisiae.R64-1-1.93.gtf.gz"
    }

    'sacCer2' {
      fasta = "http://hgdownload.soe.ucsc.edu/goldenPath/sacCer2/bigZips/chromFa.tar.gz"
      gtf   = "http://hgdownload.soe.ucsc.edu/goldenPath/sacCer2/bigZips/genes/sacCer2.ensGene.gtf.gz"
    }

    'sacCer3' {
      fasta = "http://hgdownload.soe.ucsc.edu/goldenPath/sacCer3/bigZips/chromFa.tar.gz"
      gtf   = "http://hgdownload.soe.ucsc.edu/goldenPath/sacCer3/bigZips/genes/sacCer3.ensGene.gtf.gz"
    }


    /***********************
     Saccharomyces Mikatae
    ************************/
    'smik' {
      fasta = "${params.genomeAnnotationPath}/Saccharomyces_mikatae/smik/genome/sac_mikatae_ultrascaffolds.fasta"
      gff   = ""
    }

    /********************
     Salmonella enterica
    *********************/
    'ATCC9150-ASM1188v1' {
      fasta = "ftp://ftp.ensemblgenomes.org/pub/bacteria/release-48/fasta/bacteria_9_collection/salmonella_enterica_subsp_enterica_serovar_paratyphi_a_str_atcc_9150/dna/Salmonella_enterica_subsp_enterica_serovar_paratyphi_a_str_atcc_9150.ASM1188v1.dna.toplevel.fa.gz"
      gtf   = "ftp://ftp.ensemblgenomes.org/pub/bacteria/release-48/gtf/bacteria_9_collection/salmonella_enterica_subsp_enterica_serovar_paratyphi_a_str_atcc_9150/Salmonella_enterica_subsp_enterica_serovar_paratyphi_a_str_atcc_9150.ASM1188v1.48.gtf.gz"
    }

    /***********************
     Caenorhabditis elegans
    ************************/
    'WBcel235' {
      fasta = "http://ftp.ensembl.org/pub/release-103/fasta/caenorhabditis_elegans/dna/Caenorhabditis_elegans.WBcel235.dna.toplevel.fa.gz"
      gtf = "http://ftp.ensembl.org/pub/release-103/gtf/caenorhabditis_elegans/Caenorhabditis_elegans.WBcel235.103.gtf.gz" 
    }

    /**********************
     Acyrthosiphon pisum
    ***********************/
    'Acyr2.0' {
      fasta = "ftp://ftp.ensemblgenomes.org/pub/release-47/metazoa/fasta/acyrthosiphon_pisum/dna/Acyrthosiphon_pisum.Acyr_2.0.dna.toplevel.fa.gz"
      gtf   = "ftp://ftp.ensemblgenomes.org/pub/release-47/metazoa/gtf/acyrthosiphon_pisum/Acyrthosiphon_pisum.Acyr_2.0.47.gtf.gz"
    }

    /*******************
     Lachanera kluyveri
    ********************/
    'CBS3082' {
      fasta = "${params.genomeAnnotationPath}/Lachancea_kluyveri/CBS_3082/genome/SAKL_CBS_3082.fa"
      gtf   = ""
    }

    /*************
     Oryza sativa
    **************/
    'AusN22' {
      fasta = "https://rice-genome-hub.southgreen.fr/filebrowser/download/19"
      gtf   = "https://rice-genome-hub.southgreen.fr/filebrowser/download/49"
    }

    /***************
     Xenopus Laevis
     **************/
    'Xenla9.2' {
      fasta = "http://ftp.xenbase.org/pub/Genomics/JGI/Xenla9.2/XENLA_9.2_genome.fa.gz"
      gtf   = ""
    }

    /********************
     Rhopalosipum padi
    *********************/
    'Rpadi-v2.0' {
      fasta = "https://bipaa.genouest.org/sp/rhopalosiphum_padi/download/genome/v2.0/R_padi_v2.fasta"
      gff   = "https://bipaa.genouest.org/sp/rhopalosiphum_padi/download/annotation/v2.0/Rpadi_v2.with.exons.gff"
    }
  }
}
