/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomes_base / --genomes_base
 */

params {
  //Set path to annoation folder
  genomes_base = "/data/annotations/pipelines"

  genomes {
    'mm10' {
      fasta     = "${params.genomes_base}/Mouse/mm10_ensembl/genome/Mus_musculus.GRCm38.dna.toplevel_base.fa"
      vcf       = "${params.genomes_base}/Mouse/mm10/variants/mgp.v5.merged.snps_all.dbSNP142.vcf"
      gtf       = "${params.genomes_base}/Mouse/mm10/gtf/gencode.vM13.ensembl.annotation.gtf"
      blacklist = "${params.genomes_base}/Mouse/mm10/ENCODE/ENCFF547MET_merged.bed"
    }

    'mm9' {
      fasta     = "${params.genomes_base}/Mouse/mm9_ensembl/genome/Mus_musculus.NCBIM37.67.dna.toplevel_base.fa"
      vcf       = "${params.genomes_base}/Mouse/mm9/variants/mgp.v2.snps.annot.reformat.vcf"
      gtf       = "${params.genomes_base}/Mouse/mm9/gtf/gencode.vM1.ensembl.annotation.gtf"
      blacklist = "${params.genomes_base}/Mouse/mm10/ENCODE/mm9-blacklist.bed"
    }
  }
}
