/*
 * Define modules options
 */

process {

  // Default
  publishDir = [
    path: { "${params.outDir}/${task.process.tokenize(':')[-1].tokenize('_')[0]}" },
    mode: 'copy',
    saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
  ]

  // Fasta
  withName:'getFastaFromURL' {
    publishDir = [
      path: { "${params.outDir}/genome/" },
      mode: 'copy',
      saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
    ]
  }

  withName:'samtoolsFaidx|createSequenceDictionary|getChromSizes|faSize' {
    publishDir = [
      path: { "${params.outDir}/genome/" },
      mode: 'copy',
      saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
    ]
  }

  // GTF
  withName:'getTranscriptome' {
    publishDir = [
      path: { "${params.outDir}/gtf/" },
      mode: 'copy',
      saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
    ]
  }

  withName:'getAnnotation|reduceGtf|gtf2bed12|gtf2genes' {
    publishDir = [
      path: { "${params.outDir}/gtf/" },
      mode: 'copy',
      saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
    ]
  }

  withName:'gffreads' {
    publishDir = [
      path: { "${params.outDir}/gtf/" },
      mode: 'copy',
      saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
    ]
    ext.args = "--keep-exon-attrs -F -T"
  }

  // Indexes
  withName:'bwaIndex' {
    publishDir = [
      path: { "${params.outDir}/indexes/" },
      mode: 'copy',
      saveAs: { filename -> filename.equals('versions.txt') || filename.equals('bwa.log') ? null : filename }
    ]
    ext.when = {params.indexes.contains('bwa')}
  }  
  
  withName:'bwamem2Index' {
    publishDir = [
      path: { "${params.outDir}/indexes/" },
      mode: 'copy',
      saveAs: { filename -> filename.equals('versions.txt') || filename.equals('bwamem2.log') ? null : filename }
    ]
    ext.when = {params.indexes.contains('bwamem2')}
  }  
  
  withName:'dragmapIndex' {
    publishDir = [
      path: { "${params.outDir}/indexes/" },
      mode: 'copy',
      saveAs: { filename -> filename.equals('versions.txt') || filename.equals('dragmap.log') ? null : filename }
    ]
    ext.when = {params.indexes.contains('dragmap')}
  }
  
  withName:'starIndex' {
    publishDir = [
      path: { "${params.outDir}/indexes/" },
      mode: 'copy',
      saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
    ]
    ext.when = {params.indexes.contains('star')}
  }

  withName:'bowtie2Index' {
    publishDir = [
      path: { "${params.outDir}/indexes/" },
      mode: 'copy',
      saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
    ]
    ext.when = {params.indexes.contains('bowtie2')}
  }

  withName:'makeHisat2Splicesites|hisat2Index' {
    publishDir = [
      path: { "${params.outDir}/indexes/" },
      mode: 'copy',
      saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
    ]
    ext.when = {params.indexes.contains('hisat2')}
  }

  withName:'cellrangerMkGtf|cellrangerMkRef' {
    beforeScript = "export PATH=${params.cellRangerPath}:$PATH"
    publishDir = [
      path: { "${params.outDir}/indexes/" },
      mode: 'copy',
      saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
    ]
    ext.when = {params.indexes.contains('cellranger')}
  }

  withName:'kallistoCorrectFasta|kallistoIndex' {
    publishDir = [
      path: { "${params.outDir}/indexes/" },
      mode: 'copy',
      saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
    ]
    ext.when = {params.indexes.contains('kallisto')}
  }

  withName:'salmonIndex' {
    publishDir = [
      path: { "${params.outDir}/indexes/" },
      mode: 'copy',
      saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
    ]
    ext.when = {params.indexes.contains('salmon')}
  }

}
