conda {
  cacheDir = "${params.condaCacheDir}"
}

process {
  withLabel:unix { conda = "${params.geniac.tools.unix}" }
  withLabel:samtools { conda = "${params.geniac.tools.samtools}" }
  withLabel:picard { conda = "${params.geniac.tools.picard}" }
  withLabel:ucsctools { conda = "${params.geniac.tools.ucsctools}" }
  withLabel:bwa { conda = "${params.geniac.tools.bwa}" }
  withLabel:bowtie2 { conda = "${params.geniac.tools.bowtie2}" }
  withLabel:star { conda = "${params.geniac.tools.star}" }
  withLabel:hisat2 { conda = "${params.geniac.tools.hisat2}" }
  withLabel:kallisto { conda = "${params.geniac.tools.kallisto}" }
  withLabel:salmon { conda = "${params.geniac.tools.salmon}" }
  withLabel:bedtools { conda = "${params.geniac.tools.bedtools}" }
  withLabel:gffread { conda = "${params.geniac.tools.gffread}" }
  withLabel:r { conda = "${params.geniac.tools.r}" }
}
