conda {
  cacheDir = "${params.condaCacheDir}"
}

process {
  withLabel:unix { conda = "${params.geniac.tools.unix}" }
  withLabel:samtools { conda = "${params.geniac.tools.samtools}" }
  withLabel:picard { conda = "${params.geniac.tools.picard}" }
  withLabel:ucsctools { conda = "${params.geniac.tools.ucsctools}" }
  withLabel:bwa { conda = "${params.geniac.tools.bwa}" }
  withLabel:bwamem2 { conda = "${params.geniac.tools.bwamem2}" }
  withLabel:dragmap { conda = "${params.geniac.tools.dragmap}" }
  withLabel:bowtie2 { conda = "${params.geniac.tools.bowtie2}" }
  withLabel:star2_6_1b { conda = "${params.geniac.tools.star2_6_1b}" }
  withLabel:star2_7_6a { conda = "${params.geniac.tools.star2_7_6a}" }
  withLabel:star2_7_8a { conda = "${params.geniac.tools.star2_7_8a}" }
  withLabel:star2_7_10a { conda = "${params.geniac.tools.star2_7_10a}" }
  withLabel:hisat2 { conda = "${params.geniac.tools.hisat2}" }
  withLabel:kallisto { conda = "${params.geniac.tools.kallisto}" }
  withLabel:salmon { conda = "${params.geniac.tools.salmon}" }
  withLabel:gffread { conda = "${params.geniac.tools.gffread}" }
  withLabel:r { conda = "${params.geniac.tools.r}" }
}
