conda {
  cacheDir = "${params.condaCacheDir}"
}

process {
  withLabel:unix { conda = "${params.geniac.tools.unix}" }
  withLabel:samtools { conda = "${params.geniac.tools.samtools}" }
  withLabel:picard { conda = "${params.geniac.tools.picard}" }
  withLabel:ucsctools { conda = "${params.geniac.tools.ucsctools}" }
  withLabel:bwamem { conda = "${params.geniac.tools.bwamem}" }
  withLabel:bowtie2 { conda = "${params.geniac.tools.bowtie2}" }
  withLabel:star { conda = "${params.geniac.tools.star}" }
  withLabel:hisat2 { conda = "${params.geniac.tools.hisat2}" }
  withLabel:bedtools { conda = "${params.geniac.tools.bedtools}" }
  withLabel:gffread { conda = "${params.geniac.tools.gffread}" }
}
