/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */

params {

  config_profile_name = 'Annotation Maker'
  config_profile_description = 'Minimal test dataset to check pipeline functions'

  // Limit resources so that this can run on Travis
  max_cpus = 3
  max_memory = 6.GB
  max_time = 1.h

  // Input data
  fasta = "$baseDir/test/data/sacCer3.fa"
  transcripts = "$baseDir/test/data/sacCer3_transcripts.fa"
  gtf = "$baseDir/test/data/sacCer3_ensembl.gtf"
  build = "sacCer3"

  genome = "sacCer3"
  genomeAnnotationPath = "test"
}
